In [22]:
from WindPy import w
import pandas as pd

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [17]:
symbols = ["000300.SH"]
start_date = "2005-01-01"
end_date = "2017-01-20"
fields = ["open", "high", "low", "close", "amt"]

In [20]:
raw_data = w.wsd(symbols[0], fields, beginTime=start_date, endTime=end_date)

In [21]:
raw_data

.ErrorCode=0
.Codes=[000300.SH]
.Fields=[OPEN,HIGH,LOW,CLOSE,AMT]
.Times=[20050104,20050105,20050106,20050107,20050110,20050111,20050112,20050113,20050114,20050117,...]
.Data=[[994.769,981.577,993.331,983.045,983.76,994.189,996.651,996.078,996.617,979.111,...],[994.769,997.323,993.788,995.711,993.959,999.554,996.976,999.473,1006.463,981.525,...],[980.658,979.877,980.33,979.812,979.789,991.092,989.257,992.695,987.233,965.078,...],[982.794,992.564,983.174,983.958,993.879,997.135,996.748,996.877,988.306,967.452,...],[4431977418.0,4529208214.0,3921015420.0,4737469399.0,3762932890.0,3704076709.0,3093299668.0,3842173302.0,4162921211.0,4249807837.0,...]]

In [25]:
dic = {}
for data, field in zip(raw_data.Data, raw_data.Fields):
    dic[str.lower(str(field))] = data
dic['Adj Close'] = dic['close']
df = pd.DataFrame(dic, index=raw_data.Times)

In [27]:
df.head()

,Adj Close,amt,close,high,low,open
2005-01-04 00:00:00.005,982.794,4.431977e+09,982.794,994.769,980.658,994.769
2005-01-05 00:00:00.005,992.564,4.529208e+09,992.564,997.323,979.877,981.577
2005-01-06 00:00:00.005,983.174,3.921015e+09,983.174,993.788,980.330,993.331
2005-01-07 00:00:00.005,983.958,4.737469e+09,983.958,995.711,979.812,983.045
2005-01-10 00:00:00.005,993.879,3.762933e+09,993.879,993.959,979.789,983.760