In [104]:
import pandas as pd
from WindPy import w
import datetime
import os

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [6]:
DATA_DIR = "D:/Data/Stocks"

In [7]:
code = "000002.SZ"

In [8]:
df = pd.read_excel("%s/%s.xlsx"%(DATA_DIR, code), index_col=0)

In [10]:
df.tail()

,amt,close,high,low,mkt_freeshares,open,vwap,turnover
2017-03-08 00:00:00.005,1.358826e+09,20.72,20.85,20.26,1.469553e+11,20.27,20.655172,0.009247
2017-03-09 00:00:00.005,5.047988e+08,20.51,20.73,20.35,1.454659e+11,20.60,20.517013,0.003470
2017-03-10 00:00:00.005,4.881812e+08,20.60,20.75,20.52,1.461042e+11,20.52,20.658643,0.003341
2017-03-13 00:00:00.005,8.692787e+08,20.71,20.88,20.51,1.468844e+11,20.65,20.734872,0.005918
2017-03-14 00:00:00.005,2.610434e+09,21.57,22.40,20.72,1.529839e+11,20.81,21.574901,0.017063

In [19]:
last_date = (df.index[-1] + datetime.timedelta(1)).strftime("%Y-%m-%d")

In [20]:
last_date

'2017-03-15'

In [44]:
yesterday = (datetime.datetime.today() - datetime.timedelta(1)).strftime("%Y-%m-%d")

In [45]:
yesterday

'2017-03-16'

In [46]:
fields = "mkt_freeshares,vwap,amt,open,close,low,high"

In [47]:
fields

'mkt_freeshares,vwap,amt,open,close,low,high'

In [84]:
data = w.wsd(code, fields, beginTime=last_date, endTime=yesterday)

In [85]:
data

.ErrorCode=0
.Codes=[000002.SZ]
.Fields=[MKT_FREESHARES,VWAP,AMT,OPEN,CLOSE,LOW,HIGH]
.Times=[20170315,20170316]
.Data=[[1.50997993736e+11,1.50856144987e+11],[21.284045831,21.3279679733],[1077880888.0,1101853842.0],[21.36,21.41],[21.29,21.27],[21.0,21.13],[21.57,21.68]]

In [50]:
def wind2df(raw_data):
    dic = {}
    for data, field in zip(raw_data.Data, raw_data.Fields):
        dic[str(field.lower())] = data
    return pd.DataFrame(dic, index=raw_data.Times)

In [51]:
add_df = wind2df(data)

In [52]:
add_df

,amt,close,high,low,mkt_freeshares,open,vwap
2017-03-15 00:00:00.005,1.077881e+09,21.29,21.57,21.00,1.509980e+11,21.36,21.284046
2017-03-16 00:00:00.005,1.101854e+09,21.27,21.68,21.13,1.508561e+11,21.41,21.327968

In [53]:
add_df["turnover"] = add_df["amt"] / add_df["mkt_freeshares"]

In [54]:
add_df

,amt,close,high,low,mkt_freeshares,open,vwap,turnover
2017-03-15 00:00:00.005,1.077881e+09,21.29,21.57,21.00,1.509980e+11,21.36,21.284046,0.007138
2017-03-16 00:00:00.005,1.101854e+09,21.27,21.68,21.13,1.508561e+11,21.41,21.327968,0.007304

In [55]:
df.tail()

,amt,close,high,low,mkt_freeshares,open,vwap,turnover
2017-03-08 00:00:00.005,1.358826e+09,20.72,20.85,20.26,1.469553e+11,20.27,20.655172,0.009247
2017-03-09 00:00:00.005,5.047988e+08,20.51,20.73,20.35,1.454659e+11,20.60,20.517013,0.003470
2017-03-10 00:00:00.005,4.881812e+08,20.60,20.75,20.52,1.461042e+11,20.52,20.658643,0.003341
2017-03-13 00:00:00.005,8.692787e+08,20.71,20.88,20.51,1.468844e+11,20.65,20.734872,0.005918
2017-03-14 00:00:00.005,2.610434e+09,21.57,22.40,20.72,1.529839e+11,20.81,21.574901,0.017063

In [58]:
df.append(add_df).tail()

,amt,close,high,low,mkt_freeshares,open,vwap,turnover
2017-03-10 00:00:00.005,4.881812e+08,20.60,20.75,20.52,1.461042e+11,20.52,20.658643,0.003341
2017-03-13 00:00:00.005,8.692787e+08,20.71,20.88,20.51,1.468844e+11,20.65,20.734872,0.005918
2017-03-14 00:00:00.005,2.610434e+09,21.57,22.40,20.72,1.529839e+11,20.81,21.574901,0.017063
2017-03-15 00:00:00.005,1.077881e+09,21.29,21.57,21.00,1.509980e+11,21.36,21.284046,0.007138
2017-03-16 00:00:00.005,1.101854e+09,21.27,21.68,21.13,1.508561e+11,21.41,21.327968,0.007304

In [91]:
old_df = pd.read_excel("D:/Data/avg_cost/by stock/000001.SZ.xlsx", index_col=0)

In [92]:
old_df["return"] = old_df["close"].pct_change()

In [93]:
old_df["error"] = old_df["return"] < -0.1

In [100]:
w.wsd("000402.SZ", "mkt_freeshares,vwap,amt,open,close,low,high", "2017-02-15", "2017-03-16", "PriceAdj=F")

.ErrorCode=0
.Codes=[000402.SZ]
.Fields=[MKT_FREESHARES,VWAP,AMT,OPEN,CLOSE,LOW,HIGH]
.Times=[20170215,20170216,20170217,20170220,20170221,20170222,20170223,20170224,20170227,20170228,...]
.Data=[[21626791959.0,21707715408.9,21384021609.7,22132563520.3,22294410419.9,22638335081.5,22274179557.5,22334872144.8,21910024033.3,22011178345.6,...],[10.733773956,10.6941134988,10.648001942,10.8212673388,11.0758293289,11.1266023703,11.1103974486,11.0077957604,10.9209702746,10.8843995812,...],[103012297.0,94415569.0,71277725.0,185227817.0,175517006.0,156014192.0,135276744.0,65599781.0,81566237.0,65978901.0,...],[10.83,10.67,10.71,10.58,10.92,11.0,11.1,11.04,11.02,10.82,...],[10.69,10.73,10.57,10.94,11.02,11.19,11.01,11.04,10.83,10.88,...],[10.67,10.65,10.57,10.52,10.9,10.97,10.97,10.94,10.82,10.82,...],[10.86,10.75,10.75,10.95,11.22,11.23,11.25,11.08,11.04,10.96,...]]

In [74]:
df = pd.read_excel("D:/Data/stocks/000004.SZ.xlsx", index_col=0)

In [75]:
df.tail()

,amt,close,high,low,mkt_freeshares,open,vwap,turnover
2017-03-10 00:00:00.005,38987355.0,39.18,39.93,38.90,1.930627e+09,39.25,39.456213,0.020194
2017-03-13 00:00:00.005,35056161.0,39.35,39.35,38.17,1.939004e+09,39.00,38.918469,0.018079
2017-03-14 00:00:00.005,33309054.0,39.21,39.50,38.90,1.932106e+09,39.48,39.228058,0.017240
2017-03-15 00:00:00.005,34037301.0,38.48,39.21,38.35,1.896134e+09,39.21,38.608379,0.017951
2017-03-16 00:00:00.005,35122570.0,38.82,38.90,38.01,1.912888e+09,38.51,38.595425,0.018361

In [76]:
df.loc[:, "turnover days"] = old_df["turnover days"]
df.loc[:, "avg cost"] = old_df["avg cost"]

In [77]:
df.tail()

,amt,close,high,low,mkt_freeshares,open,vwap,turnover,turnover days,avg cost
2017-03-10 00:00:00.005,38987355.0,39.18,39.93,38.90,1.930627e+09,39.25,39.456213,0.020194,64.0,39.245415
2017-03-13 00:00:00.005,35056161.0,39.35,39.35,38.17,1.939004e+09,39.00,38.918469,0.018079,66.0,39.105009
2017-03-14 00:00:00.005,33309054.0,39.21,39.50,38.90,1.932106e+09,39.48,39.228058,0.017240,64.0,39.027947
2017-03-15 00:00:00.005,34037301.0,38.48,39.21,38.35,1.896134e+09,39.21,38.608379,0.017951,NaN,NaN
2017-03-16 00:00:00.005,35122570.0,38.82,38.90,38.01,1.912888e+09,38.51,38.595425,0.018361,NaN,NaN

In [78]:
k = old_df.shape[0] - old_df["turnover days"][-1]

In [79]:
k

470

In [80]:
dates = df[df.index > old_df.index[-1]].index

In [81]:
dates

DatetimeIndex(['2017-03-15 00:00:00.005000', '2017-03-16 00:00:00.005000'], dtype='datetime64[ns]', freq=None)

In [82]:
for index in dates:
    prev_index = df.index[k]
    while df[(df.index >= prev_index) & (df.index <= index)]["turnover"].sum() > 1:
        k += 1
        prev_index = df.index[k]
    k -=1
    prev_index = df.index[k]
    
    temp_df = df[(df.index >= prev_index) & (df.index <= index)]
    cost = (temp_df["vwap"] * temp_df["amt"]).sum() / temp_df["amt"].sum()
    df.loc[index, "avg cost"] = cost
    df.loc[index, "turnover days"] = (index - prev_index).days

In [83]:
df.tail()

,amt,close,high,low,mkt_freeshares,open,vwap,turnover,turnover days,avg cost
2017-03-10 00:00:00.005,38987355.0,39.18,39.93,38.90,1.930627e+09,39.25,39.456213,0.020194,64.0,39.245415
2017-03-13 00:00:00.005,35056161.0,39.35,39.35,38.17,1.939004e+09,39.00,38.918469,0.018079,66.0,39.105009
2017-03-14 00:00:00.005,33309054.0,39.21,39.50,38.90,1.932106e+09,39.48,39.228058,0.017240,64.0,39.027947
2017-03-15 00:00:00.005,34037301.0,38.48,39.21,38.35,1.896134e+09,39.21,38.608379,0.017951,64.0,38.908796
2017-03-16 00:00:00.005,35122570.0,38.82,38.90,38.01,1.912888e+09,38.51,38.595425,0.018361,65.0,38.903162

In [101]:
df = pd.read_excel("C:/Users/jgtzsx01/Documents/workspace/data/index-component/000906.xlsx", index_col=0)

In [102]:
codes = set(df.index)

In [105]:
files = os.listdir("D:/Data/stocks/")

In [109]:
for f in files:
    if f[:9] not in codes:
        os.system("mv D:/Data/stocks/%s D:/Data/back/%s"%(f, f))

In [110]:
for f in files:
    if f.endswith(".csv"):
        os.system("mv D:/Data/stocks/%s D:/Data/back/%s"%(f, f))

In [112]:
datetime.datetime.now().hour

15