In [70]:
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy
from sklearn.metrics import mutual_info_score
%matplotlib inline

In [2]:
sys.path.append("../src/")

In [3]:
import factors
import const
import data

In [4]:
sns.set_style("darkgrid")

In [5]:
df = factors.read_asset_set(const.STOCK_FILE)

In [7]:
factor_list = ["pe_percent", "20-day return"]

In [8]:
pnl = factors.get_asset_factor_data(df, factor_list, frequency='d')

getting asset factor data...

In [9]:
pnl.minor_axis

Index([u'pe_percent', u'20-day return', u'close'], dtype='object')

In [10]:
pnl.ix[:, :, "return"] = pnl.minor_xs("close").pct_change()

In [22]:
f = "pe_percent"
co = "CI005021.WI"

In [44]:
pnl.minor_xs(f).shift(1)[co].head()

2005-01-04 00:00:00.005   NaN
2005-01-05 00:00:00.005   NaN
2005-01-06 00:00:00.005   NaN
2005-01-07 00:00:00.005   NaN
2005-01-10 00:00:00.005   NaN
Name: CI005021.WI, dtype: float64

In [43]:
pnl.minor_xs("return")[co].head()

2005-01-04 00:00:00.005         NaN
2005-01-05 00:00:00.005   -0.009338
2005-01-06 00:00:00.005   -0.010794
2005-01-07 00:00:00.005    0.000246
2005-01-10 00:00:00.005    0.027694
Name: CI005021.WI, dtype: float64

In [76]:
pnl.minor_xs(f).shift(1)[co][-30:].corr(pnl.minor_xs("return")[co][-30:], method='pearson')

-0.10193631592945233

In [75]:
pnl.minor_xs(f).shift(1)[co][-30:].corr(pnl.minor_xs("return")[co][-30:], method='spearman')

-0.14424280007994769

In [80]:
mutual_info_score(pnl.minor_xs(f).shift(1)[co], pnl.minor_xs("return")[co])

5.44004414660969

In [81]:
mutual_info_score(pnl.minor_xs("20-day return").shift(1)[co], pnl.minor_xs("return")[co])

7.9898993749429392

In [154]:
pnl.ix[:, :, f] = pnl.minor_xs(f).shift(1)

In [157]:
factor_return_df = pnl.ix[:, :, [f, "return"]][co]

In [166]:
factor_return_df

                         pe_percent    return
2005-01-04 00:00:00.005         NaN       NaN
2005-01-05 00:00:00.005         NaN -0.009338
2005-01-06 00:00:00.005         NaN -0.010794
2005-01-07 00:00:00.005         NaN  0.000246
2005-01-10 00:00:00.005         NaN  0.027694
2005-01-11 00:00:00.005         NaN  0.006162
2005-01-12 00:00:00.005         NaN -0.004078
2005-01-13 00:00:00.005         NaN -0.002689
2005-01-14 00:00:00.005         NaN -0.006634
2005-01-17 00:00:00.005         NaN -0.022699
2005-01-18 00:00:00.005         NaN  0.001583
2005-01-19 00:00:00.005         NaN -0.009819
2005-01-20 00:00:00.005         NaN -0.010455
2005-01-21 00:00:00.005         NaN  0.069456
2005-01-24 00:00:00.005         NaN  0.012341
2005-01-25 00:00:00.005         NaN -0.017644
2005-01-26 00:00:00.005         NaN  0.000857
2005-01-27 00:00:00.005         NaN -0.018952
2005-01-28 00:00:00.005         NaN  0.004737
2005-01-31 00:00:00.005         NaN -0.006137
2005-02-01 00:00:00.005         NaN  0.012805
2005-02-02 00:00:00.005         NaN  0.047162
2005-02-03 00:00:00.005         NaN -0.020467
2005-02-04 00:00:00.005         NaN  0.054969
2005-02-16 00:00:00.005         NaN -0.003794
2005-02-17 00:00:00.005         NaN -0.006853
2005-02-18 00:00:00.005         NaN -0.014920
2005-02-21 00:00:00.005         NaN  0.029872
2005-02-22 00:00:00.005         NaN  0.008765
2005-02-23 00:00:00.005         NaN -0.017481
...                             ...       ...
2017-01-11 00:00:00.005    0.843621 -0.003096
2017-01-12 00:00:00.005    0.823045 -0.000454
2017-01-13 00:00:00.005    0.802469  0.007941
2017-01-16 00:00:00.005    0.820988  0.014669
2017-01-17 00:00:00.005    0.901235 -0.004787
2017-01-18 00:00:00.005    0.938272  0.006072
2017-01-19 00:00:00.005    0.934156  0.000082
2017-01-20 00:00:00.005    0.938272  0.003877
2017-01-23 00:00:00.005    0.938272 -0.002003
2017-01-24 00:00:00.005    0.942387  0.009284
2017-01-25 00:00:00.005    0.930041 -0.000201
2017-01-26 00:00:00.005    0.962963  0.005608
2017-02-03 00:00:00.005    0.971193 -0.010885
2017-02-06 00:00:00.005    0.991770 -0.001105
2017-02-07 00:00:00.005    0.950617 -0.001545
2017-02-08 00:00:00.005    0.946502  0.001312
2017-02-09 00:00:00.005    0.991770  0.002122
2017-02-10 00:00:00.005    0.995885  0.005741
2017-02-13 00:00:00.005    1.000000  0.007945
2017-02-14 00:00:00.005    1.000000 -0.003667
2017-02-15 00:00:00.005    1.000000  0.011137
2017-02-16 00:00:00.005    0.995885  0.001680
2017-02-17 00:00:00.005    1.000000 -0.009358
2017-02-20 00:00:00.005    1.000000  0.017549
2017-02-21 00:00:00.005    0.991770  0.000106
2017-02-22 00:00:00.005    1.000000 -0.001371
2017-02-23 00:00:00.005    1.000000 -0.000802
2017-02-24 00:00:00.005    1.000000 -0.001879
2017-02-27 00:00:00.005    1.000000 -0.005075
2017-02-28 00:00:00.005    0.983539  0.001832

[2951 rows x 2 columns]

In [167]:
rolled_df = roll(factor_return_df, 5)

In [164]:
rolled_df

In [165]:
rolled_df.sum()

major                      return
2005-01-10 00:00:00.005  0.007808
2005-01-11 00:00:00.005  0.023308
2005-01-12 00:00:00.005  0.030024
2005-01-13 00:00:00.005  0.027089
2005-01-14 00:00:00.005 -0.007239
2005-01-17 00:00:00.005 -0.036100
2005-01-18 00:00:00.005 -0.030440
2005-01-19 00:00:00.005 -0.037569
2005-01-20 00:00:00.005 -0.041391
2005-01-21 00:00:00.005  0.050765
2005-01-24 00:00:00.005  0.061524
2005-01-25 00:00:00.005  0.053699
2005-01-26 00:00:00.005  0.065011
2005-01-27 00:00:00.005 -0.023397
2005-01-28 00:00:00.005 -0.031001
2005-01-31 00:00:00.005 -0.019495
2005-02-01 00:00:00.005 -0.007547
2005-02-02 00:00:00.005  0.058567
2005-02-03 00:00:00.005  0.033362
2005-02-04 00:00:00.005  0.094468
2005-02-16 00:00:00.005  0.077869
2005-02-17 00:00:00.005  0.023854
2005-02-18 00:00:00.005  0.029401
2005-02-21 00:00:00.005  0.004304
2005-02-22 00:00:00.005  0.016863
2005-02-23 00:00:00.005  0.006235
2005-02-24 00:00:00.005  0.022010
2005-02-25 00:00:00.005 -0.003810
2005-02-28 00:00:00.005 -0.039876
2005-03-01 00:00:00.005 -0.026182
...                           ...
2017-01-11 00:00:00.005 -0.007885
2017-01-12 00:00:00.005 -0.002222
2017-01-13 00:00:00.005  0.003547
2017-01-16 00:00:00.005  0.019059
2017-01-17 00:00:00.005  0.017368
2017-01-18 00:00:00.005  0.023894
2017-01-19 00:00:00.005  0.016036
2017-01-20 00:00:00.005  0.005244
2017-01-23 00:00:00.005  0.008029
2017-01-24 00:00:00.005  0.011241
2017-01-25 00:00:00.005  0.010957
2017-01-26 00:00:00.005  0.012688
2017-02-03 00:00:00.005  0.003806
2017-02-06 00:00:00.005 -0.006584
2017-02-07 00:00:00.005 -0.007927
2017-02-08 00:00:00.005 -0.012223
2017-02-09 00:00:00.005  0.000784
2017-02-10 00:00:00.005  0.007630
2017-02-13 00:00:00.005  0.017119
2017-02-14 00:00:00.005  0.012141
2017-02-15 00:00:00.005  0.021156
2017-02-16 00:00:00.005  0.017095
2017-02-17 00:00:00.005 -0.000208
2017-02-20 00:00:00.005  0.021007
2017-02-21 00:00:00.005  0.009976
2017-02-22 00:00:00.005  0.006925
2017-02-23 00:00:00.005  0.015482
2017-02-24 00:00:00.005 -0.003946
2017-02-27 00:00:00.005 -0.009127
2017-02-28 00:00:00.005 -0.005924

[2947 rows x 1 columns]

In [213]:
def roll(df, w):
#     df.fillna(0, inplace=True)
    df.fillna(df.mean(), inplace=True)
    roll_array = np.dstack([df.values[i:i+w, :] for i in range(len(df.index) - w + 1)]).T
    panel = pd.Panel(roll_array, 
                     items=df.index[w-1:],
                     major_axis=df.columns,
                     minor_axis=pd.Index(range(w), name='roll'))
    return panel.to_frame().unstack().T.groupby(level=0)

In [214]:
factor_return_df["return"][-20:].corr(factor_return_df["pe_percent"][-20:], method='spearman')

-0.033176452548646616

In [215]:
roll_df = roll(factor_return_df, 20)

In [216]:
def correlation(df, factor):
    return df[factor].corr(df["return"], method="spearman")

In [217]:
res = roll_df.apply(lambda x: correlation(x, f))

In [218]:
res

2005-01-31 00:00:00.005         NaN
2005-02-01 00:00:00.005         NaN
2005-02-02 00:00:00.005         NaN
2005-02-03 00:00:00.005         NaN
2005-02-04 00:00:00.005         NaN
2005-02-16 00:00:00.005         NaN
2005-02-17 00:00:00.005         NaN
2005-02-18 00:00:00.005         NaN
2005-02-21 00:00:00.005         NaN
2005-02-22 00:00:00.005         NaN
2005-02-23 00:00:00.005         NaN
2005-02-24 00:00:00.005         NaN
2005-02-25 00:00:00.005         NaN
2005-02-28 00:00:00.005         NaN
2005-03-01 00:00:00.005         NaN
2005-03-02 00:00:00.005         NaN
2005-03-03 00:00:00.005         NaN
2005-03-04 00:00:00.005         NaN
2005-03-07 00:00:00.005         NaN
2005-03-08 00:00:00.005         NaN
2005-03-09 00:00:00.005         NaN
2005-03-10 00:00:00.005         NaN
2005-03-11 00:00:00.005         NaN
2005-03-14 00:00:00.005         NaN
2005-03-15 00:00:00.005         NaN
2005-03-16 00:00:00.005         NaN
2005-03-17 00:00:00.005         NaN
2005-03-18 00:00:00.005         NaN
2005-03-21 00:00:00.005         NaN
2005-03-22 00:00:00.005         NaN
                             ...
2017-01-11 00:00:00.005   -0.358164
2017-01-12 00:00:00.005   -0.466516
2017-01-13 00:00:00.005   -0.334838
2017-01-16 00:00:00.005   -0.167795
2017-01-17 00:00:00.005   -0.184349
2017-01-18 00:00:00.005   -0.111362
2017-01-19 00:00:00.005   -0.078254
2017-01-20 00:00:00.005   -0.079789
2017-01-23 00:00:00.005   -0.164219
2017-01-24 00:00:00.005   -0.019586
2017-01-25 00:00:00.005   -0.056497
2017-01-26 00:00:00.005   -0.064784
2017-02-03 00:00:00.005   -0.253012
2017-02-06 00:00:00.005   -0.234940
2017-02-07 00:00:00.005   -0.167169
2017-02-08 00:00:00.005   -0.125000
2017-02-09 00:00:00.005   -0.082863
2017-02-10 00:00:00.005   -0.061770
2017-02-13 00:00:00.005    0.067797
2017-02-14 00:00:00.005   -0.067822
2017-02-15 00:00:00.005   -0.003772
2017-02-16 00:00:00.005    0.002264
2017-02-17 00:00:00.005   -0.027988
2017-02-20 00:00:00.005    0.231598
2017-02-21 00:00:00.005    0.156604
2017-02-22 00:00:00.005    0.129073
2017-02-23 00:00:00.005    0.067764
2017-02-24 00:00:00.005    0.039697
2017-02-27 00:00:00.005   -0.116118
2017-02-28 00:00:00.005   -0.033176
dtype: float64

In [67]:
pnl.minor_xs(f).shift(1)[co].rolling(window=5).corr(pnl.minor_xs("return")[co], )

2005-01-04 00:00:00.005         NaN
2005-01-05 00:00:00.005         NaN
2005-01-06 00:00:00.005         NaN
2005-01-07 00:00:00.005         NaN
2005-01-10 00:00:00.005         NaN
2005-01-11 00:00:00.005         NaN
2005-01-12 00:00:00.005         NaN
2005-01-13 00:00:00.005         NaN
2005-01-14 00:00:00.005         NaN
2005-01-17 00:00:00.005         NaN
2005-01-18 00:00:00.005         NaN
2005-01-19 00:00:00.005         NaN
2005-01-20 00:00:00.005         NaN
2005-01-21 00:00:00.005         NaN
2005-01-24 00:00:00.005         NaN
2005-01-25 00:00:00.005         NaN
2005-01-26 00:00:00.005         NaN
2005-01-27 00:00:00.005         NaN
2005-01-28 00:00:00.005         NaN
2005-01-31 00:00:00.005         NaN
2005-02-01 00:00:00.005         NaN
2005-02-02 00:00:00.005         NaN
2005-02-03 00:00:00.005         NaN
2005-02-04 00:00:00.005         NaN
2005-02-16 00:00:00.005         NaN
2005-02-17 00:00:00.005         NaN
2005-02-18 00:00:00.005         NaN
2005-02-21 00:00:00.005         NaN
2005-02-22 00:00:00.005         NaN
2005-02-23 00:00:00.005         NaN
                             ...
2017-01-11 00:00:00.005   -0.573636
2017-01-12 00:00:00.005   -0.674507
2017-01-13 00:00:00.005   -0.105571
2017-01-16 00:00:00.005    0.743912
2017-01-17 00:00:00.005    0.051873
2017-01-18 00:00:00.005   -0.030360
2017-01-19 00:00:00.005   -0.492351
2017-01-20 00:00:00.005   -0.859751
2017-01-23 00:00:00.005   -0.651819
2017-01-24 00:00:00.005   -0.953918
2017-01-25 00:00:00.005   -0.608069
2017-01-26 00:00:00.005   -0.261810
2017-02-03 00:00:00.005   -0.700881
2017-02-06 00:00:00.005   -0.784669
2017-02-07 00:00:00.005   -0.501791
2017-02-08 00:00:00.005   -0.269965
2017-02-09 00:00:00.005   -0.082739
2017-02-10 00:00:00.005    0.876279
2017-02-13 00:00:00.005    0.784714
2017-02-14 00:00:00.005    0.208467
2017-02-15 00:00:00.005   -0.316442
2017-02-16 00:00:00.005   -0.639130
2017-02-17 00:00:00.005   -0.641871
2017-02-20 00:00:00.005   -0.918355
2017-02-21 00:00:00.005   -0.901499
2017-02-22 00:00:00.005   -0.901361
2017-02-23 00:00:00.005   -0.923495
2017-02-24 00:00:00.005   -0.996071
2017-02-27 00:00:00.005    0.927490
2017-02-28 00:00:00.005   -0.188544
Name: CI005021.WI, dtype: float64

In [18]:
pnl.ix[:, :, "corr"] = np.nan

In [19]:
for item in pnl.items:
    pnl.ix[:, :, "corr"][item] = pnl.minor_xs(f).shift(1)[item].rolling(window=10).corr(pnl.minor_xs("return")[item])

In [20]:
pnl.minor_xs("corr").mean(axis=1)

2005-01-04 00:00:00.005         NaN
2005-01-05 00:00:00.005         NaN
2005-01-06 00:00:00.005         NaN
2005-01-07 00:00:00.005         NaN
2005-01-10 00:00:00.005         NaN
2005-01-11 00:00:00.005         NaN
2005-01-12 00:00:00.005         NaN
2005-01-13 00:00:00.005         NaN
2005-01-14 00:00:00.005         NaN
2005-01-17 00:00:00.005         NaN
2005-01-18 00:00:00.005         NaN
2005-01-19 00:00:00.005         NaN
2005-01-20 00:00:00.005         NaN
2005-01-21 00:00:00.005         NaN
2005-01-24 00:00:00.005         NaN
2005-01-25 00:00:00.005         NaN
2005-01-26 00:00:00.005         NaN
2005-01-27 00:00:00.005         NaN
2005-01-28 00:00:00.005         NaN
2005-01-31 00:00:00.005         NaN
2005-02-01 00:00:00.005         NaN
2005-02-02 00:00:00.005         NaN
2005-02-03 00:00:00.005         NaN
2005-02-04 00:00:00.005         NaN
2005-02-16 00:00:00.005         NaN
2005-02-17 00:00:00.005         NaN
2005-02-18 00:00:00.005         NaN
2005-02-21 00:00:00.005         NaN
2005-02-22 00:00:00.005         NaN
2005-02-23 00:00:00.005         NaN
                             ...
2017-01-11 00:00:00.005   -0.343068
2017-01-12 00:00:00.005   -0.298474
2017-01-13 00:00:00.005   -0.154526
2017-01-16 00:00:00.005    0.232145
2017-01-17 00:00:00.005    0.073443
2017-01-18 00:00:00.005    0.001188
2017-01-19 00:00:00.005   -0.055411
2017-01-20 00:00:00.005   -0.177735
2017-01-23 00:00:00.005   -0.306799
2017-01-24 00:00:00.005   -0.365790
2017-01-25 00:00:00.005   -0.327774
2017-01-26 00:00:00.005   -0.297558
2017-02-03 00:00:00.005   -0.263684
2017-02-06 00:00:00.005   -0.269137
2017-02-07 00:00:00.005   -0.255274
2017-02-08 00:00:00.005   -0.199935
2017-02-09 00:00:00.005   -0.255906
2017-02-10 00:00:00.005   -0.149611
2017-02-13 00:00:00.005   -0.050036
2017-02-14 00:00:00.005   -0.220694
2017-02-15 00:00:00.005   -0.319537
2017-02-16 00:00:00.005   -0.307611
2017-02-17 00:00:00.005   -0.439605
2017-02-20 00:00:00.005   -0.395768
2017-02-21 00:00:00.005   -0.437812
2017-02-22 00:00:00.005   -0.369613
2017-02-23 00:00:00.005   -0.393008
2017-02-24 00:00:00.005   -0.331704
2017-02-27 00:00:00.005   -0.281676
2017-02-28 00:00:00.005   -0.294497
dtype: float64

In [30]:
res = pd.DataFrame()

In [31]:
res["10"] = pnl.minor_xs("corr").mean(axis=1)

In [33]:
res

                               10
2005-01-04 00:00:00.005       NaN
2005-01-05 00:00:00.005       NaN
2005-01-06 00:00:00.005       NaN
2005-01-07 00:00:00.005       NaN
2005-01-10 00:00:00.005       NaN
2005-01-11 00:00:00.005       NaN
2005-01-12 00:00:00.005       NaN
2005-01-13 00:00:00.005       NaN
2005-01-14 00:00:00.005       NaN
2005-01-17 00:00:00.005       NaN
2005-01-18 00:00:00.005       NaN
2005-01-19 00:00:00.005       NaN
2005-01-20 00:00:00.005       NaN
2005-01-21 00:00:00.005       NaN
2005-01-24 00:00:00.005       NaN
2005-01-25 00:00:00.005       NaN
2005-01-26 00:00:00.005       NaN
2005-01-27 00:00:00.005       NaN
2005-01-28 00:00:00.005       NaN
2005-01-31 00:00:00.005       NaN
2005-02-01 00:00:00.005       NaN
2005-02-02 00:00:00.005       NaN
2005-02-03 00:00:00.005       NaN
2005-02-04 00:00:00.005       NaN
2005-02-16 00:00:00.005       NaN
2005-02-17 00:00:00.005       NaN
2005-02-18 00:00:00.005       NaN
2005-02-21 00:00:00.005       NaN
2005-02-22 00:00:00.005       NaN
2005-02-23 00:00:00.005       NaN
...                           ...
2017-01-11 00:00:00.005 -0.343068
2017-01-12 00:00:00.005 -0.298474
2017-01-13 00:00:00.005 -0.154526
2017-01-16 00:00:00.005  0.232145
2017-01-17 00:00:00.005  0.073443
2017-01-18 00:00:00.005  0.001188
2017-01-19 00:00:00.005 -0.055411
2017-01-20 00:00:00.005 -0.177735
2017-01-23 00:00:00.005 -0.306799
2017-01-24 00:00:00.005 -0.365790
2017-01-25 00:00:00.005 -0.327774
2017-01-26 00:00:00.005 -0.297558
2017-02-03 00:00:00.005 -0.263684
2017-02-06 00:00:00.005 -0.269137
2017-02-07 00:00:00.005 -0.255274
2017-02-08 00:00:00.005 -0.199935
2017-02-09 00:00:00.005 -0.255906
2017-02-10 00:00:00.005 -0.149611
2017-02-13 00:00:00.005 -0.050036
2017-02-14 00:00:00.005 -0.220694
2017-02-15 00:00:00.005 -0.319537
2017-02-16 00:00:00.005 -0.307611
2017-02-17 00:00:00.005 -0.439605
2017-02-20 00:00:00.005 -0.395768
2017-02-21 00:00:00.005 -0.437812
2017-02-22 00:00:00.005 -0.369613
2017-02-23 00:00:00.005 -0.393008
2017-02-24 00:00:00.005 -0.331704
2017-02-27 00:00:00.005 -0.281676
2017-02-28 00:00:00.005 -0.294497

[2951 rows x 1 columns]

In [35]:
df = pd.read_excel("%s/%s.xlsx"%(const.DATA_DIR, "pe_percent"), index_col=0)

In [38]:
df[str(5)]

2005-01-04 00:00:00.005         NaN
2005-01-05 00:00:00.005         NaN
2005-01-06 00:00:00.005         NaN
2005-01-07 00:00:00.005         NaN
2005-01-10 00:00:00.005         NaN
2005-01-11 00:00:00.005         NaN
2005-01-12 00:00:00.005         NaN
2005-01-13 00:00:00.005         NaN
2005-01-14 00:00:00.005         NaN
2005-01-17 00:00:00.005         NaN
2005-01-18 00:00:00.005         NaN
2005-01-19 00:00:00.005         NaN
2005-01-20 00:00:00.005         NaN
2005-01-21 00:00:00.005         NaN
2005-01-24 00:00:00.005         NaN
2005-01-25 00:00:00.005         NaN
2005-01-26 00:00:00.005         NaN
2005-01-27 00:00:00.005         NaN
2005-01-28 00:00:00.005         NaN
2005-01-31 00:00:00.005         NaN
2005-02-01 00:00:00.005         NaN
2005-02-02 00:00:00.005         NaN
2005-02-03 00:00:00.005         NaN
2005-02-04 00:00:00.005         NaN
2005-02-16 00:00:00.005         NaN
2005-02-17 00:00:00.005         NaN
2005-02-18 00:00:00.005         NaN
2005-02-21 00:00:00.005         NaN
2005-02-22 00:00:00.005         NaN
2005-02-23 00:00:00.005         NaN
                             ...
2017-01-11 00:00:00.005    0.835066
2017-01-12 00:00:00.005    0.644223
2017-01-13 00:00:00.005   -0.248023
2017-01-16 00:00:00.005   -0.886884
2017-01-17 00:00:00.005   -0.100295
2017-01-18 00:00:00.005    0.140899
2017-01-19 00:00:00.005    0.501825
2017-01-20 00:00:00.005    0.975644
2017-01-23 00:00:00.005    0.250003
2017-01-24 00:00:00.005    0.170703
2017-01-25 00:00:00.005    0.116401
2017-01-26 00:00:00.005    0.421799
2017-02-03 00:00:00.005    0.417819
2017-02-06 00:00:00.005    0.127647
2017-02-07 00:00:00.005    0.268722
2017-02-08 00:00:00.005    0.140811
2017-02-09 00:00:00.005    0.029474
2017-02-10 00:00:00.005    0.967855
2017-02-13 00:00:00.005    0.942393
2017-02-14 00:00:00.005    0.821839
2017-02-15 00:00:00.005   -0.208176
2017-02-16 00:00:00.005    0.271868
2017-02-17 00:00:00.005    0.284847
2017-02-20 00:00:00.005   -0.153569
2017-02-21 00:00:00.005   -0.237721
2017-02-22 00:00:00.005    0.049301
2017-02-23 00:00:00.005    0.447233
2017-02-24 00:00:00.005    0.880677
2017-02-27 00:00:00.005    0.862875
2017-02-28 00:00:00.005    0.877545
Name: 5, dtype: float64

In [82]:
tmp  = pd.DataFrame(np.random.randn(2000,2)/10000, 
                    index=pd.date_range('2001-01-01',periods=2000),
                    columns=['A','B'])

In [83]:
tmp

                       A         B
2001-01-01 -1.087862e-04  0.000075
2001-01-02  2.248651e-04 -0.000171
2001-01-03 -2.201634e-05  0.000015
2001-01-04  1.028894e-04  0.000035
2001-01-05  9.897926e-05 -0.000080
2001-01-06 -1.825856e-04 -0.000140
2001-01-07  3.309916e-05  0.000036
2001-01-08  1.304392e-06  0.000144
2001-01-09 -3.722492e-05  0.000157
2001-01-10 -9.137556e-06 -0.000226
2001-01-11  1.119805e-04  0.000007
2001-01-12 -1.248422e-04  0.000030
2001-01-13  1.024273e-05  0.000120
2001-01-14  7.540875e-05 -0.000210
2001-01-15 -1.210027e-04 -0.000058
2001-01-16  7.893021e-06  0.000083
2001-01-17  4.525036e-05  0.000138
2001-01-18 -7.916202e-05 -0.000085
2001-01-19 -3.375526e-05  0.000024
2001-01-20 -2.103629e-04 -0.000033
2001-01-21 -7.143828e-05  0.000193
2001-01-22  6.391216e-05  0.000187
2001-01-23  1.873988e-04  0.000189
2001-01-24  7.331063e-05  0.000080
2001-01-25  1.358630e-04  0.000027
2001-01-26  1.013789e-04  0.000075
2001-01-27  3.847049e-05 -0.000030
2001-01-28  1.466500e-04  0.000099
2001-01-29 -4.122340e-05  0.000034
2001-01-30 -3.573946e-05 -0.000061
...                  ...       ...
2006-05-25  1.137801e-04 -0.000154
2006-05-26  4.189014e-05  0.000003
2006-05-27  7.508253e-05 -0.000064
2006-05-28  5.879847e-05  0.000091
2006-05-29  1.556435e-04 -0.000028
2006-05-30  1.154606e-05  0.000049
2006-05-31  2.474071e-05  0.000017
2006-06-01  4.609606e-05 -0.000218
2006-06-02 -8.257554e-05  0.000049
2006-06-03  1.014531e-04 -0.000022
2006-06-04 -5.172166e-05  0.000013
2006-06-05 -6.502426e-05  0.000005
2006-06-06 -2.838441e-05 -0.000013
2006-06-07 -8.289391e-05 -0.000031
2006-06-08  1.475960e-06 -0.000104
2006-06-09 -1.257675e-04  0.000081
2006-06-10  7.189815e-05  0.000224
2006-06-11  7.105882e-05 -0.000100
2006-06-12  3.178906e-05  0.000063
2006-06-13 -1.940344e-04 -0.000161
2006-06-14  9.937076e-07 -0.000052
2006-06-15 -1.441626e-04 -0.000107
2006-06-16 -9.281044e-05 -0.000111
2006-06-17  2.457791e-05  0.000076
2006-06-18  7.701862e-05 -0.000177
2006-06-19 -1.102877e-04  0.000188
2006-06-20  1.083830e-05 -0.000003
2006-06-21 -8.192650e-05 -0.000155
2006-06-22 -1.507094e-04 -0.000044
2006-06-23 -1.536178e-04  0.000060

[2000 rows x 2 columns]

In [84]:
def gm(arr,p):
    df = DataFrame(arr)
    v =(((df+1).cumprod())-1)*p
    return v.iloc[-1]

In [85]:
pd.rolling_appl\(tmp,50,lambda x: gm(x,5)).tail(20)

C:\Users\jgtzsx01\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: pd.rolling_apply is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(center=False,window=50).apply(args=<tuple>,func=<function>,kwargs=<dict>)
  if __name__ == '__main__':

NameError: global name 'DataFrame' is not defined