In [1]:
import pandas as pd
import sys

In [2]:
sys.path.append("../src/")

In [3]:
import value
import momentum
import defensive

In [4]:
DATA_DIR = "D:/Data/stocks/"
FACTOR_DIR = "D:/Data/factor/"
BY_STOCK_DIR = "D:/Data/avg_cost/by stock/"

# 读取个股历史数据

In [5]:
code = "000402.SZ"

In [6]:
df = pd.read_excel("%s/%s.xlsx"%(DATA_DIR, code), index_col=0)

In [7]:
df.tail()

,amt,close,mkt_freeshares,vwap,turnover
2017-03-13 00:00:00.005,235036730.0,11.17,2.259787e+10,11.150131,0.010401
2017-03-14 00:00:00.005,315803367.0,11.23,2.271926e+10,11.300031,0.013900
2017-03-15 00:00:00.005,158381968.0,11.20,2.265857e+10,11.219107,0.006990
2017-03-16 00:00:00.005,179243478.0,11.25,2.275972e+10,11.239645,0.007875
2017-03-17 00:00:00.005,295839794.0,11.27,2.280018e+10,11.391370,0.012975

In [8]:
start_date = df.index[0].strftime("%Y-%m-%d")
end_date = df.index[-1].strftime("%Y-%m-%d")

# 得到成本因子
1. 100%换手天数
2. 平均持仓成本

In [9]:
temp = pd.read_excel("%s/%s.xlsx"%(BY_STOCK_DIR, code), index_col=0)

In [10]:
df["turnover days"] = temp["turnover days"]

In [11]:
df["average holding cost"] = temp["avg cost"]

# 得到价值因子
1. pe_ttm值
2. pe的历史百分位

In [30]:
pe_ttm = value.get_pe_ratio(code, start_date, end_date)

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

In [31]:
df["pe_ttm"] = pe_ttm

In [37]:
pe_percentile = value.get_pe_ratio_percentile(code, days=121, start_date=start_date, end_date=end_date)

In [38]:
pe_percentile

2015-01-05 00:00:00.005         NaN
2015-01-06 00:00:00.005         NaN
2015-01-07 00:00:00.005         NaN
2015-01-08 00:00:00.005         NaN
2015-01-09 00:00:00.005         NaN
2015-01-12 00:00:00.005         NaN
2015-01-13 00:00:00.005         NaN
2015-01-14 00:00:00.005         NaN
2015-01-15 00:00:00.005         NaN
2015-01-16 00:00:00.005         NaN
2015-01-19 00:00:00.005         NaN
2015-01-20 00:00:00.005         NaN
2015-01-21 00:00:00.005         NaN
2015-01-22 00:00:00.005         NaN
2015-01-23 00:00:00.005         NaN
2015-01-26 00:00:00.005         NaN
2015-01-27 00:00:00.005         NaN
2015-01-28 00:00:00.005         NaN
2015-01-29 00:00:00.005         NaN
2015-01-30 00:00:00.005         NaN
2015-02-02 00:00:00.005         NaN
2015-02-03 00:00:00.005         NaN
2015-02-04 00:00:00.005         NaN
2015-02-05 00:00:00.005         NaN
2015-02-06 00:00:00.005         NaN
2015-02-09 00:00:00.005         NaN
2015-02-10 00:00:00.005         NaN
2015-02-11 00:00:00.005         NaN
2015-02-12 00:00:00.005         NaN
2015-02-13 00:00:00.005         NaN
                             ...
2017-02-06 00:00:00.005    0.318182
2017-02-07 00:00:00.005    0.483471
2017-02-08 00:00:00.005    0.479339
2017-02-09 00:00:00.005    0.504132
2017-02-10 00:00:00.005    0.495868
2017-02-13 00:00:00.005    0.504132
2017-02-14 00:00:00.005    0.487603
2017-02-15 00:00:00.005    0.458678
2017-02-16 00:00:00.005    0.471074
2017-02-17 00:00:00.005    0.334711
2017-02-20 00:00:00.005    0.528926
2017-02-21 00:00:00.005    0.561983
2017-02-22 00:00:00.005    0.694215
2017-02-23 00:00:00.005    0.557851
2017-02-24 00:00:00.005    0.578512
2017-02-27 00:00:00.005    0.504132
2017-02-28 00:00:00.005    0.537190
2017-03-01 00:00:00.005    0.553719
2017-03-02 00:00:00.005    0.545455
2017-03-03 00:00:00.005    0.491736
2017-03-06 00:00:00.005    0.549587
2017-03-07 00:00:00.005    0.553719
2017-03-08 00:00:00.005    0.611570
2017-03-09 00:00:00.005    0.528926
2017-03-10 00:00:00.005    0.611570
2017-03-13 00:00:00.005    0.764463
2017-03-14 00:00:00.005    0.826446
2017-03-15 00:00:00.005    0.776860
2017-03-16 00:00:00.005    0.834711
2017-03-17 00:00:00.005    0.847107
Name: pe_percent, dtype: float64

In [39]:
df["pe_percentile"] = pe_percentile

# 得到动量因子
1. 5日、23日、61日、120日、243日收益率
2. 5日、23日、61日、120日、243日平均收益率

In [12]:
ret5 = momentum.get_k_day_return(code, days=5, start_date=start_date, end_date=end_date)

                                 amt  close  mkt_freeshares       vwap  \
2017-03-13 00:00:00.005  235036730.0  11.17    2.259787e+10  11.150131
2017-03-14 00:00:00.005  315803367.0  11.23    2.271926e+10  11.300031
2017-03-15 00:00:00.005  158381968.0  11.20    2.265857e+10  11.219107
2017-03-16 00:00:00.005  179243478.0  11.25    2.275972e+10  11.239645
2017-03-17 00:00:00.005  295839794.0  11.27    2.280018e+10  11.391370

                         turnover  5-day return
2017-03-13 00:00:00.005  0.010401      0.026654
2017-03-14 00:00:00.005  0.013900      0.032169
2017-03-15 00:00:00.005  0.006990      0.019108
2017-03-16 00:00:00.005  0.007875      0.035912
2017-03-17 00:00:00.005  0.012975      0.026412

In [13]:
df[ret5.name] = ret5

In [14]:
ret23 = momentum.get_k_day_return(code, days=23, start_date=start_date, end_date=end_date)

                                 amt  close  mkt_freeshares       vwap  \
2017-03-13 00:00:00.005  235036730.0  11.17    2.259787e+10  11.150131
2017-03-14 00:00:00.005  315803367.0  11.23    2.271926e+10  11.300031
2017-03-15 00:00:00.005  158381968.0  11.20    2.265857e+10  11.219107
2017-03-16 00:00:00.005  179243478.0  11.25    2.275972e+10  11.239645
2017-03-17 00:00:00.005  295839794.0  11.27    2.280018e+10  11.391370

                         turnover  23-day return
2017-03-13 00:00:00.005  0.010401       0.047842
2017-03-14 00:00:00.005  0.013900       0.035978
2017-03-15 00:00:00.005  0.006990       0.039926
2017-03-16 00:00:00.005  0.007875       0.034959
2017-03-17 00:00:00.005  0.012975       0.041590

In [15]:
df[ret23.name] = ret23

In [17]:
ret61 = momentum.get_k_day_return(code, days=61, start_date=start_date)

                                 amt  close  mkt_freeshares       vwap  \
2017-03-13 00:00:00.005  235036730.0  11.17    2.259787e+10  11.150131
2017-03-14 00:00:00.005  315803367.0  11.23    2.271926e+10  11.300031
2017-03-15 00:00:00.005  158381968.0  11.20    2.265857e+10  11.219107
2017-03-16 00:00:00.005  179243478.0  11.25    2.275972e+10  11.239645
2017-03-17 00:00:00.005  295839794.0  11.27    2.280018e+10  11.391370

                         turnover  61-day return
2017-03-13 00:00:00.005  0.010401       0.000896
2017-03-14 00:00:00.005  0.013900       0.000891
2017-03-15 00:00:00.005  0.006990       0.060606
2017-03-16 00:00:00.005  0.007875       0.052385
2017-03-17 00:00:00.005  0.012975       0.079502

In [18]:
df[ret61.name] = ret61

In [19]:
ret120 = momentum.get_k_day_return(code, days=120, start_date=start_date)

                                 amt  close  mkt_freeshares       vwap  \
2017-03-13 00:00:00.005  235036730.0  11.17    2.259787e+10  11.150131
2017-03-14 00:00:00.005  315803367.0  11.23    2.271926e+10  11.300031
2017-03-15 00:00:00.005  158381968.0  11.20    2.265857e+10  11.219107
2017-03-16 00:00:00.005  179243478.0  11.25    2.275972e+10  11.239645
2017-03-17 00:00:00.005  295839794.0  11.27    2.280018e+10  11.391370

                         turnover  120-day return
2017-03-13 00:00:00.005  0.010401       -0.046114
2017-03-14 00:00:00.005  0.013900       -0.038527
2017-03-15 00:00:00.005  0.006990       -0.022688
2017-03-16 00:00:00.005  0.007875        0.008065
2017-03-17 00:00:00.005  0.012975        0.005352

In [20]:
df[ret120.name] = ret120

In [21]:
ret243 = momentum.get_k_day_return(code, days=120, start_date=start_date)

                                 amt  close  mkt_freeshares       vwap  \
2017-03-13 00:00:00.005  235036730.0  11.17    2.259787e+10  11.150131
2017-03-14 00:00:00.005  315803367.0  11.23    2.271926e+10  11.300031
2017-03-15 00:00:00.005  158381968.0  11.20    2.265857e+10  11.219107
2017-03-16 00:00:00.005  179243478.0  11.25    2.275972e+10  11.239645
2017-03-17 00:00:00.005  295839794.0  11.27    2.280018e+10  11.391370

                         turnover  120-day return
2017-03-13 00:00:00.005  0.010401       -0.046114
2017-03-14 00:00:00.005  0.013900       -0.038527
2017-03-15 00:00:00.005  0.006990       -0.022688
2017-03-16 00:00:00.005  0.007875        0.008065
2017-03-17 00:00:00.005  0.012975        0.005352

In [22]:
df[ret243.name] = ret243

In [24]:
ret5 = momentum.get_k_day_average_return(code, days=5, start_date=start_date, end_date=end_date)
ret23 = momentum.get_k_day_average_return(code, days=23, start_date=start_date, end_date=end_date)
ret61 = momentum.get_k_day_average_return(code, days=61, start_date=start_date, end_date=end_date)
ret120 = momentum.get_k_day_average_return(code, days=120, start_date=start_date, end_date=end_date)
ret243 = momentum.get_k_day_average_return(code, days=243, start_date=start_date, end_date=end_date)

In [25]:
df[ret5.name] = ret5
df[ret23.name] = ret23
df[ret61.name] = ret61
df[ret120.name] = ret120
df[ret243.name] = ret243

In [26]:
df.tail()

,amt,close,mkt_freeshares,vwap,turnover,turnover days,average holding cost,5-day return,23-day return,61-day return,120-day return,5-day average return,23-day average return,61-day average return,120-day average return,243-day average return
2017-03-13 00:00:00.005,235036730.0,11.17,2.259787e+10,11.150131,0.010401,154.0,11.300715,0.026654,0.047842,0.000896,-0.046114,0.005327,0.002118,0.000118,-0.000236,0.001241
2017-03-14 00:00:00.005,315803367.0,11.23,2.271926e+10,11.300031,0.013900,154.0,11.305428,0.032169,0.035978,0.000891,-0.038527,0.006401,0.001617,0.000118,-0.000170,0.001321
2017-03-15 00:00:00.005,158381968.0,11.20,2.265857e+10,11.219107,0.006990,155.0,11.304842,0.019108,0.039926,0.060606,-0.022688,0.003845,0.001782,0.001039,-0.000035,0.001329
2017-03-16 00:00:00.005,179243478.0,11.25,2.275972e+10,11.239645,0.007875,155.0,11.304691,0.035912,0.034959,0.052385,0.008065,0.007104,0.001572,0.000910,0.000220,0.001264
2017-03-17 00:00:00.005,295839794.0,11.27,2.280018e+10,11.391370,0.012975,155.0,11.308124,0.026412,0.041590,0.079502,0.005352,0.005249,0.001849,0.001323,0.000198,0.001173

# 得到防御因子
1. 5日、23日、61日、120日、243日年化波动率

In [27]:
vol5 = defensive.get_k_day_volatility(code, days=5, start_date=start_date)
vol23 = defensive.get_k_day_volatility(code, days=23, start_date=start_date)
vol61 = defensive.get_k_day_volatility(code, days=61, start_date=start_date)
vol120 = defensive.get_k_day_volatility(code, days=120, start_date=start_date)
vol243 = defensive.get_k_day_volatility(code, days=243, start_date=start_date)

In [28]:
df[vol5.name] = vol5
df[vol23.name] = vol23
df[vol61.name] = vol61
df[vol120.name] = vol120
df[vol243.name] = vol243

In [29]:
df.tail()

,amt,close,mkt_freeshares,vwap,turnover,turnover days,average holding cost,5-day return,23-day return,61-day return,...,5-day average return,23-day average return,61-day average return,120-day average return,243-day average return,5-day volatility,23-day volatility,61-day volatility,120-day volatility,243-day volatility
2017-03-13 00:00:00.005,235036730.0,11.17,2.259787e+10,11.150131,0.010401,154.0,11.300715,0.026654,0.047842,0.000896,...,0.005327,0.002118,0.000118,-0.000236,0.001241,0.178041,0.206624,0.225346,0.277038,0.347006
2017-03-14 00:00:00.005,315803367.0,11.23,2.271926e+10,11.300031,0.013900,154.0,11.305428,0.032169,0.035978,0.000891,...,0.006401,0.001617,0.000118,-0.000170,0.001321,0.172117,0.200843,0.225346,0.277132,0.346682
2017-03-15 00:00:00.005,158381968.0,11.20,2.265857e+10,11.219107,0.006990,155.0,11.304842,0.019108,0.039926,0.060606,...,0.003845,0.001782,0.001039,-0.000035,0.001329,0.178337,0.199535,0.191135,0.275860,0.346657
2017-03-16 00:00:00.005,179243478.0,11.25,2.275972e+10,11.239645,0.007875,155.0,11.304691,0.035912,0.034959,0.052385,...,0.007104,0.001572,0.000910,0.000220,0.001264,0.116950,0.198143,0.189899,0.273366,0.346159
2017-03-17 00:00:00.005,295839794.0,11.27,2.280018e+10,11.391370,0.012975,155.0,11.308124,0.026412,0.041590,0.079502,...,0.005249,0.001849,0.001323,0.000198,0.001173,0.115802,0.197030,0.183390,0.273307,0.345402

# 输出到文件

In [41]:
df.to_excel("%s/%s.xlsx"%(FACTOR_DIR, code))