In [182]:
from WindPy import w
import pandas as pd

In [183]:
w.start()

.ErrorCode=0
.Data=[Already conntected!]

In [184]:
raw_data=w.wss("600000.SH","pe","rptDate=20081231")

In [185]:
raw_data

.ErrorCode=0
.Codes=[600000.SH]
.Fields=[PE]
.Times=[20170214 14:01:00]
.Data=[[None]]

In [98]:
dic = {}
for data, field in zip(raw_data.Data, raw_data.Fields):
    dic[str.lower(str(field))] = data

In [99]:
df = pd.DataFrame(dic)

In [100]:
df

    eps_ttm     roa  surpluscapitalps
0  2.456208  1.1253            1.9189

In [33]:
??w.wss

### 获取全部A股股票代码

In [51]:
codes = w.wset("SectorConstituent",u"date=20170212;sector=全部A股") #取全部A 股股票代码、名称信息

In [54]:
codes

.ErrorCode=0
.Codes=[1,2,3,4,5,6,7,8,9,10,...]
.Fields=[date,wind_code,sec_name]
.Times=[20170213]
.Data=[[2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,2017-02-12 00:00:00.005000,...],[000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...],[u'\u5e73\u5b89\u94f6\u884c',u'\u4e07\u79d1A',u'\u56fd\u519c\u79d1\u6280',u'\u4e16\u7eaa\u661f\u6e90',u'\u6df1\u632f\u4e1aA',u'\u5168\u65b0\u597d',u'\u795e\u5dde\u9ad8\u94c1',u'\u4e2d\u56fd\u5b9d\u5b89',u'\u7f8e\u4e3d\u751f\u6001',u'\u6df1\u7269\u4e1aA',...]]

### 自动获取季度日期

In [55]:
w_tdays = w.tdays('2013-01-01','2013-09-30','Days=Alldays;Period=Q'); #

In [56]:
w_tdays

.ErrorCode=0
.Codes=[]
.Fields=[]
.Times=[20130331,20130630,20130930]
.Data=[[2013-03-31 00:00:00.005000,2013-06-30 00:00:00.005000,2013-09-30 00:00:00.005000]]

In [124]:
raw_data = w.wss("000001.SZ", "bps,pe,mkt_cap_ard,pe_ttm,val_pe_deducted_ttm,pe_lyr","rptDate=20091231")

In [125]:
raw_data

.ErrorCode=0
.Codes=[000001.SZ]
.Fields=[BPS,PE,MKT_CAP_ARD,PE_TTM,VAL_PE_DEDUCTED_TTM,PE_LYR]
.Times=[20170213 15:28:16]
.Data=[[nan],[nan],[1.61573570954e+11],[7.07291065287],[7.06950649547],[7.38959848863]]

In [126]:
dic = {}
for data, field in zip(raw_data.Data, raw_data.Fields):
    dic[str.lower(str(field))] = data

In [127]:
df = pd.DataFrame(dic)

In [128]:
df

   bps   mkt_cap_ard  pe    pe_lyr    pe_ttm  val_pe_deducted_ttm
0  NaN  1.615736e+11 NaN  7.389598  7.072911             7.069506

In [180]:
# raw_data = w.wss("000001.SZ", "bps,pe,mkt_cap_ard,pe_ttm,val_pe_deducted_ttm,pe_lyr","rptDate=20011231")
raw_data = w.wss("000002.SZ", "bps","rptDate=20151231;currencyType=")
dic = {}
for data, field in zip(raw_data.Data, raw_data.Fields):
    dic[str.lower(str(field))] = data
df = pd.DataFrame(dic)

In [181]:
df

    bps
0  None

In [281]:
raw_data = w.wss(["000002.SZ","000001.SZ","000006.SZ","000004.SZ","000005.SZ"], ["yoy_or","pe","pb","roic","yoyprofit"],"rptDate=20140930;tradeDate=20161216;ruleType=2")

In [282]:
raw_data

.ErrorCode=0
.Codes=[000002.SZ,000001.SZ,000006.SZ,000004.SZ,000005.SZ]
.Fields=[YOY_OR,PE,PB,ROIC,YOYPROFIT]
.Times=[20170214 14:59:00]
.Data=[[-0.4348,46.3409,-59.746,-9.1666,11.9267],[13.6836356849,7.26395175557,29.8341203577,2994.45783726,-132.797784917],[2.4748517454,0.983444613842,2.8302361373,45.8083616128,6.38599132723],[3.7381,nan,3.2133,-5.2941,-4.4998],[1.70992455103,34.182626539,-33.9045356278,-153.582559432,-10.1659290086]]

In [283]:
dic = {}
for data, field in zip(raw_data.Data, raw_data.Fields):
    dic[str(field.lower())] = data

In [284]:
df = pd.DataFrame(dic, index=raw_data.Codes)

In [285]:
df

                  pb           pe    roic   yoy_or   yoyprofit
000002.SZ   2.474852    13.683636  3.7381  -0.4348    1.709925
000001.SZ   0.983445     7.263952     NaN  46.3409   34.182627
000006.SZ   2.830236    29.834120  3.2133 -59.7460  -33.904536
000004.SZ  45.808362  2994.457837 -5.2941  -9.1666 -153.582559
000005.SZ   6.385991  -132.797785 -4.4998  11.9267  -10.165929

In [240]:
df.sort_values('pb')

                  pb           pe    roic   yoy_or   yoyprofit
000001.SZ   0.983445     7.263952     NaN  40.6561   30.011161
000002.SZ   2.474852    13.683636  9.0631   8.1002    5.410419
000006.SZ   2.830236    29.834120  6.8404 -49.4946  -26.583542
000005.SZ   6.385991  -132.797785  5.7793   1.3739  201.934570
000004.SZ  45.808362  2994.457837  3.4601  10.7499  169.544385

In [ ]:
df.index.to