In [223]:
import pandas as pd
import numpy as np
import datetime
import pyfolio as pf
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
DATA_DIR = "C:/Users/jgtzsx01/Documents/sheet/zhiyingtianyi portfolio"

In [4]:
zhiying_df = pd.read_csv("%s/zhiyingtianyi No.1.csv"%(DATA_DIR))

In [5]:
zhiying_df.head()

        date         4   5   6   7   8   9  10  11  12  13  14  15  16  17
0  2016/6/17  50000.00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1  2016/6/20  50014.01 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2  2016/6/21  50021.60 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3  2016/6/22  50009.39 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4  2016/6/23  50026.21 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [6]:
zhiying_df.tail()

           date   4   5   6   7   8   9  10  11  12  13  14  15  16  17
377  2017/12/29 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
378  2017/12/26 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
379  2017/12/27 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
380  2017/12/28 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
381  2017/12/29 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [7]:
zhiying_df.index = pd.to_datetime(zhiying_df['date'], format="%Y/%m/%d")

In [8]:
zhiying_df.head()

,date,4,5,6,7,8,9,10,11,12,13,14,15,16,17
date,,,,,,,,,,,,,,,
2016-06-17,2016/6/17,50000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-20,2016/6/20,50014.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-21,2016/6/21,50021.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-22,2016/6/22,50009.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-23,2016/6/23,50026.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
zhiying_df.columns

Index([u'date', u'4', u'5', u'6', u'7', u'8', u'9', u'10', u'11', u'12', u'13',
       u'14', u'15', u'16', u'17'],
      dtype='object')

# 合并最新值

In [46]:
date = "2017-02-15"

In [47]:
today_df = pd.read_csv("%s/%s.csv"%(DATA_DIR, date))

In [48]:
today_df

,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,50381.39,50064.44,50068.53,50060.55,50056.46,49938.41,49894.54,50007.46,50073.49,50061.21,50168.15,50284.52,50284.04,50085.32

In [49]:
date = pd.to_datetime(date, format="%Y-%m-%d")

In [50]:
zhiying_df.ix[date] = [date.strftime("%Y/%m/%d")] + today_df.ix[0].tolist()

In [51]:
zhiying_df.ix[date]

date    2017/02/15
4          50381.4
5          50064.4
6          50068.5
7          50060.6
8          50056.5
9          49938.4
10         49894.5
11         50007.5
12         50073.5
13         50061.2
14         50168.2
15         50284.5
16           50284
17         50085.3
Name: 2017-02-15 00:00:00, dtype: object

In [53]:
zhiying_df.to_csv("%s/zhiyingtianyi No.1.csv"%(DATA_DIR), index=False)

# 统计数据

In [61]:
zhiying_df = pd.read_csv("%s/zhiyingtianyi No.1.csv"%(DATA_DIR))

In [62]:
zhiying_df.head()

        date         4   5   6   7   8   9  10  11  12  13  14  15  16  17
0  2016/6/17  50000.00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1  2016/6/20  50014.01 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2  2016/6/21  50021.60 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3  2016/6/22  50009.39 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4  2016/6/23  50026.21 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [63]:
zhiying_df.index = pd.to_datetime(zhiying_df['date'], format='%Y/%m/%d')

In [64]:
assets = [unicode(x) for x in range(4, 18)]

In [65]:
asset = assets[0]

In [92]:
df = zhiying_df[[asset]]

In [93]:
df = df.dropna()

In [94]:
df.head()

                   4
date
2016-06-17  50000.00
2016-06-20  50014.01
2016-06-21  50021.60
2016-06-22  50009.39
2016-06-23  50026.21

In [95]:
df.loc[:, 'return'] = df.pct_change()

In [96]:
df.head()

                   4    return
date
2016-06-17  50000.00       NaN
2016-06-20  50014.01  0.000280
2016-06-21  50021.60  0.000152
2016-06-22  50009.39 -0.000244
2016-06-23  50026.21  0.000336

In [97]:
df.loc[:, 'net value'] = (1+df['return']).cumprod()

In [98]:
df.head()

                   4    return  net value
date
2016-06-17  50000.00       NaN        NaN
2016-06-20  50014.01  0.000280   1.000280
2016-06-21  50021.60  0.000152   1.000432
2016-06-22  50009.39 -0.000244   1.000188
2016-06-23  50026.21  0.000336   1.000524

In [102]:
df.loc[df.index[0], 'net value'] = 1

In [103]:
df.head()

                   4    return  net value
date
2016-06-17  50000.00       NaN   1.000000
2016-06-20  50014.01  0.000280   1.000280
2016-06-21  50021.60  0.000152   1.000432
2016-06-22  50009.39 -0.000244   1.000188
2016-06-23  50026.21  0.000336   1.000524

In [104]:
df.tail()

                   4    return  net value
date
2017-02-10  50339.00  0.000084   1.006780
2017-02-13  50351.82  0.000255   1.007036
2017-02-14  50373.43  0.000429   1.007469
2017-02-15  50381.39  0.000158   1.007628
2017-02-16  50387.84  0.000128   1.007757

In [178]:
portfolio_name, net_value, year_return, total_return, max_drawdown, sharpe, volatility = [], [], [], [], [], [], []
for asset in assets:
    df = zhiying_df[[asset]]
    df = df.dropna()
    df.loc[:, 'return'] = df.pct_change()
    df.loc[:, 'net value'] = (1+df['return']).cumprod()
    df.loc[df.index[0], 'net value'] = 1
    
    portfolio_name.append(u"智盈添易一号第%s期"%(asset))
    net_value.append(df.loc[df.index[-1], 'net value'])
    total_return.append(df.loc[df.index[-1], 'net value'] - 1)
    max_drawdown.append(pf.empyrical.max_drawdown(df['return'].dropna()))
    sharpe.append(pf.empyrical.sharpe_ratio(df['return'].dropna()))
    volatility.append(pf.empyrical.annual_volatility(df['return'].dropna()))
    df = df[df.index >= datetime.datetime(2017, 1, 1)]
    start_value = df.loc[df.index[0], 'net value']
    end_value = df.loc[df.index[-1], 'net value']
    year_return.append((end_value-start_value)/start_value)

In [179]:
ret = {u'组合': portfolio_name, 
       u'单位净值': net_value, 
       u'今年以来业绩': year_return, 
       u'成立以来业绩': total_return, 
       u'最大回撤': max_drawdown, 
       u'夏普率': sharpe, 
       u'波动率': volatility
}

In [180]:
df = pd.DataFrame(ret)

In [181]:
df = df[[u"组合", u'单位净值', u'今年以来业绩', u'成立以来业绩', u'最大回撤', u'夏普率', u'波动率']]

In [182]:
df

            组合      单位净值    今年以来业绩    成立以来业绩      最大回撤        夏普率       波动率
0    智盈添易一号第4期  1.007757  0.003928  0.007757 -0.017175   0.645762  0.019007
1    智盈添易一号第5期  1.001386  0.003873  0.001386 -0.017245   0.134117  0.018243
2    智盈添易一号第6期  1.001468  0.003723  0.001468 -0.017222   0.157141  0.017407
3    智盈添易一号第7期  1.001308  0.004064  0.001308 -0.017230   0.152708  0.017320
4    智盈添易一号第8期  1.001226  0.004064  0.001226 -0.017240   0.153687  0.017303
5    智盈添易一号第9期  0.998863  0.004008 -0.001137 -0.017259  -0.150439  0.016287
6   智盈添易一号第10期  0.997986  0.004008 -0.002014 -0.017266  -0.291388  0.016786
7   智盈添易一号第11期  1.000246  0.004362  0.000246 -0.012158   0.063753  0.012052
8   智盈添易一号第12期  1.001567  0.004561  0.001567 -0.008686   0.563378  0.009416
9   智盈添易一号第13期  1.001321  0.004561  0.001321 -0.008703   0.515447  0.010027
10  智盈添易一号第14期  1.003469  0.004926  0.003469 -0.003531   3.047057  0.005309
11  智盈添易一号第15期  1.005808  0.004273  0.005808 -0.000025  17.576397  0.001845
12  智盈添易一号第16期  1.005811  0.004962  0.005811  0.000000  13.868864  0.003097
13  智盈添易一号第17期  1.001803  0.001803  0.001803  0.000000  16.915665  0.002685

# 输出到excel

In [183]:
df.loc[:, u'单位净值'] = df[u'单位净值'].map(lambda x: "%.4f"%x)

In [184]:
df.loc[:, u'今年以来业绩'] = df[u'今年以来业绩'].map(lambda x: "%.2f%%"%(x*100))

In [185]:
df.loc[:, u"成立以来业绩"] = df[u"成立以来业绩"].map(lambda x: "%.2f%%"%(x*100))

In [186]:
df.loc[:, u"最大回撤"] = df[u"最大回撤"].map(lambda x: "%.2f%%"%(-x*100))

In [187]:
df.loc[:, u"夏普率"] = df[u"夏普率"].map(lambda x: "%.2f"%x)

In [188]:
df.loc[:, u"波动率"] = df[u"波动率"].map(lambda x: "%.2f%%"%(x*100))

In [189]:
df

            组合    单位净值 今年以来业绩  成立以来业绩    最大回撤    夏普率    波动率
0    智盈添易一号第4期  1.0078  0.39%   0.78%   1.72%   0.65  1.90%
1    智盈添易一号第5期  1.0014  0.39%   0.14%   1.72%   0.13  1.82%
2    智盈添易一号第6期  1.0015  0.37%   0.15%   1.72%   0.16  1.74%
3    智盈添易一号第7期  1.0013  0.41%   0.13%   1.72%   0.15  1.73%
4    智盈添易一号第8期  1.0012  0.41%   0.12%   1.72%   0.15  1.73%
5    智盈添易一号第9期  0.9989  0.40%  -0.11%   1.73%  -0.15  1.63%
6   智盈添易一号第10期  0.9980  0.40%  -0.20%   1.73%  -0.29  1.68%
7   智盈添易一号第11期  1.0002  0.44%   0.02%   1.22%   0.06  1.21%
8   智盈添易一号第12期  1.0016  0.46%   0.16%   0.87%   0.56  0.94%
9   智盈添易一号第13期  1.0013  0.46%   0.13%   0.87%   0.52  1.00%
10  智盈添易一号第14期  1.0035  0.49%   0.35%   0.35%   3.05  0.53%
11  智盈添易一号第15期  1.0058  0.43%   0.58%   0.00%  17.58  0.18%
12  智盈添易一号第16期  1.0058  0.50%   0.58%  -0.00%  13.87  0.31%
13  智盈添易一号第17期  1.0018  0.18%   0.18%  -0.00%  16.92  0.27%

In [198]:
writer = pd.ExcelWriter('%s/%s.xlsx'%(DATA_DIR, "2017-02-16"))

In [199]:
df.to_excel(writer, index=False)

In [200]:
writer.save()

In [202]:
df = pd.read_excel('%s/%s.xlsx'%(DATA_DIR, "2017-02-16"))

In [206]:
datetime.datetime.now() - datetime.timedelta(1)

datetime.datetime(2017, 2, 16, 12, 37, 8, 906000)

In [213]:
?pf.empyrical.annual_volatility

In [217]:
from bokeh.plotting import figure

In [218]:
p = figure()

In [224]:
df = pd.DataFrame({'a': [1,2,3,4,5,6,7,8,9,10,np.nan], 'b': [1,2,3,4,5,6,7,8,9,10,np.nan]})

In [225]:
df.quantile(0.75, axis=0)

C:\Users\jgtzsx01\AppData\Local\Continuum\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

a   NaN
b   NaN
dtype: float64

In [226]:
df.describe()

              a         b
count  10.00000  10.00000
mean    5.50000   5.50000
std     3.02765   3.02765
min     1.00000   1.00000
25%         NaN       NaN
50%         NaN       NaN
75%         NaN       NaN
max    10.00000  10.00000