In [33]:
import pandas as pd
import numpy as np
from WindPy import w
import datetime

In [20]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [48]:
contracts = pd.read_csv("../../data/continuous contracts.csv")

In [49]:
contracts.head()

  Contract     Name
0  A00.DCE  ��һ����
1  A01.DCE   ��һ��һ
2  A02.DCE  ��һ����
3  A03.DCE  ��һ����
4  A04.DCE  ��һ����

In [50]:
df = pd.DataFrame({"Contract": {}, "Name": {}})
for ind in contracts.index:
    contract = contracts["Contract"][ind]
    if contract.find("01") != -1:
        df = df.append(contracts.ix[ind])

In [51]:
df.head()

      Contract                               Name
1      A01.DCE                             ��һ��һ
10  AF01-S.CFE  ��Ԫ����Ԫ(AUD/USD)�ڻ��¼�����(����)
13    AG01.SHF                            ������һ
25    AL01.SHF                            ������һ
37    AU01.SHF                            ������һ

In [52]:
df.to_csv("../data/contract_01_names.csv", index=False)

In [17]:
contract_names = df["Contract"].tolist()

In [38]:
time_series = {}
begin_time = "1990-01-01"
end_time = datetime.date.today().strftime("%Y-%m-%d")
for con in contract_names:
    print(con)
    data = w.wsd(con, "close", beginTime=begin_time, endTime=end_time)
    time_series[con] = data.Data[0]
    index = data.Times

In [39]:
df = pd.DataFrame(time_series, index=index)

In [42]:
df["Date"] = df.index.map(lambda x: x.strftime("%Y-%m-%d"))

In [44]:
df.to_csv("../data/contract_01.csv", index=False)

In [46]:
df = pd.read_csv("../data/contract_01.csv")
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df.set_index('Date', inplace=True)

In [47]:
df.head()

,A01.DCE,AF01-S.CFE,AG01.SHF,AL01.SHF,AU01.SHF,B01.DCE,BB01.DCE,BU01.SHF,C01.DCE,CF01.CZC,...,T01.CFE,TA01.CZC,TF01.CFE,TT01-S.CFE,V01.DCE,WH01.CZC,WR01.SHF,Y01.DCE,ZC01.CZC,ZN01.SHF
Date,,,,,,,,,,,,,,,,,,,,,
1990-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN