In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
df = pd.read_excel("sales-funnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [2]:
sales_report = pd.pivot_table(df, index=["Manager", "Rep", "Product"], values=["Price", "Quantity"],
                           aggfunc=[np.sum, np.mean], fill_value=0)
sales_report.head()

                                           sum            mean
                                         Price Quantity  Price Quantity
Manager      Rep           Product
Debra Henley Craig Booker  CPU           65000        2  32500      1.0
                           Maintenance    5000        2   5000      2.0
                           Software      10000        1  10000      1.0
             Daniel Hilton CPU          105000        4  52500      2.0
                           Software      10000        1  10000      1.0

In [3]:
print(df[df["Product"]=="CPU"]["Quantity"].mean())
print(df[df["Product"]=="CPU"]["Price"].mean())
print(df[df["Product"]=="Software"]["Quantity"].mean())
print(df[df["Product"]=="Software"]["Price"].mean())

1.88888888889
51666.6666667
1.0
10000.0

In [4]:
from jinja2 import Environment, FileSystemLoader
env = Environment(loader=FileSystemLoader('.'))
template = env.get_template("myreport.html")

In [5]:
template_vars = {"title" : "Sales Funnel Report - National",
                 "national_pivot_table": sales_report.to_html()}

In [6]:
html_out = template.render(template_vars)

In [7]:
from weasyprint import HTML
HTML(string=html_out).write_pdf("report.pdf")

OSError: dlopen() failed to load a library: cairo / cairo-2